.descricao{
    padding: 0 1rem 0 1rem;
    text-align: center;

    &__subtitle{
        color: $color05;
        text-align: $text-align;
    }


    &__pharagraf{
            color: $color07;
            font-size: 14px;
        }
    
        &__image{
            margin-right: 1rem;
            max-width: 250px;
        }
}