.produtos {
    background-color: $color08;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-content: center;

    &__title{
        color: $color04;
        text-align: $text-align;
    }

    &__pharagraf{
        color: $color05;
        font-size: 13px;
        font-weight: lighter;
        text-align: $text-align;
    }

}
