.produtos {

    background-color: $color08;
    padding: 1rem;
    margin: 1rem;

    h1{
        color: $color04;
        text-align: $text-align;
    }

    p{
        color: $color05;
        font-size: 13px;
        font-weight: lighter;
        text-align: $text-align;
    }

}
